@import '../fonts/stylesheet.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 10px;
}

#app {
  display: grid;
  min-height: 100vh;
  margin: 0 0 0 0;
  grid-template-rows: minmax(60px, auto) 1fr minmax(60px, auto);
}

header,
footer,
main,
.center {
  padding-left: calc(50vw - 600px);
  padding-right: calc(50vw - 600px);
  position: relative;
}
a {
  text-decoration: none;
}

div,
input {
  box-sizing: border-box;
}

h3 {
  color: #000;
  font-family: Gilroy;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 114.8%; /* 36.736px */
  letter-spacing: 0.32px;
  position: relative;
}

p {
  color: var(--Dark, #1d1b1b);
  font-family: Gilroy;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 114.8%; /* 16.072px */
  letter-spacing: 0.14px;
}
h4 {
  color: #000;
  font-family: Gilroy;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 114.8%; /* 27.552px */
  letter-spacing: 0.24px;
}
h2 {
  color: var(--white, #fff);
  font-family: Gilroy;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 114.8%; /* 57.4px */
  letter-spacing: 0.5px;
}
ul {
  list-style: none;
}

@media  screen and (max-width: 1250px){
  header,footer,main,
  .center{
    padding-left: 3%;
    padding-right: 3%;
  }
}
